.footer{
    background-color:#F3F3F3;
    display: flex;
    padding-left: 10%;
    padding-top: 2rem;
}
.about{
    width: 50%;
}
.about p{
    max-width: 40%;
}
.info{
    color: #3D5A92;
}
.useful-links{
    width: 50%;
    text-align: center;
}
.footer__bottom{
    text-align: center;
    background-color: #F3F3F3;
    padding: 15px;
}
.icons{
    margin-top: 9px;
    color: #3D5A92;
    margin-right: 15px;
}
.icons:hover{
    color: rgb(0, 0, 0);
}