.footer{
    background-color:#F3F3F3;
    display: flex;
    padding: 40px;
}
.about{
    width: 50%;
}
.about p{
    max-width: 40%;
}
.info{
    color: #3D5A92;
}
.useful-links{
    width: 50%;
    text-align: center;
}