.wrapper{
    width: 100%;
    height: 600px;
    display: flex;
    padding-top: 3rem;
}
.wrapper-left{
        width:58%;
        margin: 30px;
}
.wrapper-left h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-left p{
    font-size: 25px;
    margin-top: 20px;
}
.highlight{
    padding-left:7px;
    color:#3D5A92;
}
.content p{
    font-size: 18px;
}
.btn{
    border: 1px solid;
    background-color: white;
    color:black;
    padding: 10px;
    margin-top: 30px;
    width: 120px;
    font-size: 16px;
}
.btn:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
}
.shoes{
    width: 400px;
    margin-right: 200px;
}